.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #fff;
    z-index: 99;
    position: sticky;
    top: 0;
    left: 0;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.logo img{
    width: 1.5rem;
    height: 1.5rem;
}

.logo h1 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}

.menu{
    display: flex;
    align-items:center ;
    column-gap: 2.7rem;
    margin-bottom: 0;
}

.nav__item a {
    color: var(--primary-color);
    font-size: 500;
    cursor: pointer;
}

.nav__icons {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.nav__icons span i{
    font-size: 1.5  rem;
    color: var(--primary-color);
    cursor: pointer;
}

.fav__icon, .cart__icon{
    position: relative;
    font-size: 1.2rem;
}

.badge{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 32%;
    right: -32%;
    content: '';
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 50%s;
    font-size: 0.6rem;
    font-weight: 600;
    z-index: 10;
}

.nav__icons span img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.mobile__menu {
    font-size: 1.3rem;
    display: none;
}

.nav__active {
    font-weight: 700 !important;
}

.sticky__header{    
    box-shadow: 3px 3px 5px -3px #ddd;
}
